.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fafafa;
    position: relative;
   
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color: #3e4151;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .d1{
    position: relative;
    right: 800px;
  }
  .lc{
    color: #3e4151;
  }